body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  color:#fff;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #199FCF;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #D41548;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.error-number{
	font-size: 200px;
}

.error-page-al {
	display:table;
	height: 100%;
	width: 100%;
	pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.error-page {
	/* To center vertically */
	display: table-cell;
	vertical-align: middle;
	pointer-events:none;
}
	
.media>.pull-left{
  margin-right: 20px;
}

.media>.pull-right{
  margin-left: 20px;
}

.btn-primary {
  padding: 8px 20px;
  background: #293E54;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}

.btn-primary:hover, 
.btn-primary:focus{
  background: #324A63;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: -5px;
}

body > section {
  padding: 20px 0;
}

.center {
  text-align: center;
  padding-bottom: 55px;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.lead{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-top:21px;
}

.transparent-bg {
  background-color: transparent !important;
  margin-bottom: 0;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}


/*************************
*******Header******
**************************/

#header .search{
	display: inline-block;
}

.navbar>.container .navbar-brand{
	margin-left: 0;
}

.navbar-inverse .navbar-toggle {
    border-color: #111320;
    background-color: #111320;
	margin-bottom: 20px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #A38995;
    border-color: #111320;
}

/*new social ends*/
.sociala a {
    color: #fffdf0;
}

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-tg:hover {
     color: #0088cc;
 }
 #social-wp:hover {
     color: #34AF23;
 }
/*new social ends*/

.navbar-brand {
  padding: 0;
  margin:0;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background: #FFF;
  padding: 15px 0;
  padding-bottom: 0;
}

 .navbar-nav{
  margin-top: 12px;
 }

.navbar-nav>li{
  margin-left: 15px;
  padding-bottom: 28px;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 10px;
  margin: 0;
  border-radius: 3px;
  color: #151515;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #1C232F;
	color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1C232F;
  color: #fff;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

#main-slider {
	position: relative;
	background-image: url("../images/slider/bg1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#main-slider .carousel .carousel-content {
	margin-top: 12%;
}

#main-slider .carousel .slide-margin{
	margin-top: 14px;
}

#main-slider .carousel h2 {
	font-size: 25px;
	font-weight: 300;
	line-height: 40px;
	color: #fff;
	margin: 40px;
}

#main-slider .carousel h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	color: #fff;
}

#main-slider .carousel .slider-img{
	padding-top: 5%;
}

#main-slider .carousel .item {
	width: 100%;
	height: 550px;
}


@media (max-width: 768px) {
	#main-slider .carousel .item {
		width: 100%;
		height: 100%;
	}
}

.no-margin {
	margin: 0;
	padding: 0;
}

.bottom-marg{
	margin-bottom: 44px;
	
}

.important {
	background-color: #111320;
	color: #fff;
}

#feature {
	padding-bottom: 20px;
}

#works {
	background: url("../images/company.html");
	padding: 10px 0 20px 0;
}

#works h1{
	color: #fff;
	font-size:20pt;
	font-weight: 300;
	font-family:Trebuchet MS;
	text-transform:uppercase;
}

#works p{
	color: white;
}

.pricing-page .btn-default: hover,
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open .dropdown-toggle.btn-default:hover {
  background-color: #e24f43;
  color: #fff;
  width: 25%;
}

#page-title {
    margin: 0 auto;
    padding: 30px 0 35px 0;
    background-image: url("../images/pagetitle.html");
	border-bottom: 5px solid #5d5d5d;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    text-align: left;
}

#page-title h2 {
    display: inline;
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 24px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    vertical-align: middle;
}

#page-title p {
    display: inline;
    margin-left: 5px;
    font-size: 14px;
    font-style: italic;
    vertical-align: middle;
	color: #fff;
}

.page-title-icon {
    margin-left: 20px;
    font-size: 46px;
    color: #fff;
    vertical-align: middle;
}

.features{
  padding: 0;
}

.feature-wrap {
  margin-bottom: 35px;
  overflow: hidden;
}

.feature-wrap h2{
  margin-top: 5px;
  color: #111320;
}

.feature-wrap h3{
  margin-top: 0px;
  font-size: 14px;
  color: #111320;
}

.feature-wrap .pull-left {
  margin-right: 25px;
}

.feature-wrap i{
  font-size: 48px;
  height: 100px;
  width: 100px;
  margin: 2px;
  border-radius: 100%;
  line-height: 100px;
  text-align:center;
  background: #ffffff;
  color: #111320;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #111320;
  -webkit-box-shadow: inset 0 0 0 5px #111320;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap i:hover {
  background: #111320;
  color: #fff;
  box-shadow: inset 0 0 0 5px #fff;
  -webkit-box-shadow: inset 0 0 0 5px #fff;
  border: 3px solid #fff;
}

#main-register .lead,
#main-register h2{
  color: #fff;
}

.services-wrap {
  padding: 40px 20px;
  background: #fff;
  border-radius: 4px;
  margin: 0 0 40px;
}

.services-wrap h3 {
  font-size: 18px;
  margin: 10px 0;
}

.services-wrap .pull-left {
  margin-right: 20px;
}

#faq {
  background: #F9F9F9;
}

.accordion h2{
  margin-bottom: 25px;
}

a.accordion-toggle  i{
  width: 45px;
  line-height: 44px;
  font-size: 20px;
  margin-top: -10px;
  text-align: center;
  margin-right: -15px;
  background: #c9c9c9;
  color:#000;
}

.panel-heading.active a.accordion-toggle i{
  background: #111320;
  color: #fff;
}

.panel-heading a.accordion-toggle {
  color: #000;
}

.panel-heading.active a.accordion-toggle.collapsed i{
  background: #111320;
  color: #fff;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}

.tab-wrap{
  border:1px solid #e6e6e6;
  margin-bottom: 20px;
}

.tab-content{
  padding: 20px;
}

.tab-content h2{
  margin-top: 0;
}

.tab-content img{
  border-radius: 4px;
}

.testimonial h2{
  margin-top: 0;
  color:#e7e7e7;
}

.testimonial-inner {
  color:#e7e7e7;
  font-size: 14px;
  margin-bottom: 10px;
}

.testimonial-inner .pull-left{
  border-right: 1px solid #e7e7e7;
  padding-right: 15px;
  position: relative;
}

.testimonial-inner .pull-left:after{
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 50%;
  margin-top: -5px;
  background: #FFF;
  -webkit-transform: rotate(45deg);
  border: 1px solid #e7e7e7;
  right: -5px;
  border-left: 0 none;
  border-bottom: 0 none;
}

#partner {
  background: url(../images/partners/partner_bg.html) 50% 50% no-repeat;
  background-size: cover;
}

#partner {
  color: #fff;
  text-align: center;
}

#partner h2, 
#partner h3 {
  color: #fff;
}

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.partners ul li{
  display: inline-block;
  float: left;
  width: 20%;
}

#conatcat-info{
  background: #fff url(../images/contact.html) no-repeat 90% 0;
  padding: 20px 20px 10px 20px;
  border-top: 5px solid #111320;
}

#content {
	padding: 20px 0;
	background-color: #11627F;
}

#why {
	padding: 20px 0;
	background-color: #30373F;
	color: #fff;
	padding: 40px 0;
}

#why ul{
	font-size: 18px;
	line-height: 40px;
}

.contact-info i{
  width: 60px;
  height: 60px;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
  background: #111320;
  text-align: center;
  border-radius: 10px;
}

.contact-info h2{
  margin-top: 0;
  color: #111320;
}

.contact-info{
  color:#111320;
}

#carousel-slider {
  position: relative;
}

#carousel-slider .carousel-indicators {
  bottom: -25px;
}

#carousel-slider .carousel-indicators li {
  border: 1px solid #ffbd20;
}

#carousel-slider a i {
  border: 1px solid #777;
  border-radius:50%;
  font-size: 28px;
  height: 50px;
  padding: 8px;
  position: absolute;
  top: 50%;
  width: 50px;
  color:#777;
}

#carousel-slider a i:hover {
  background:#bfbfbf;
  color:#fff;
  border: 1px solid #bfbfbf;
}

#carousel-slider 
.carousel-control {
  width:inherit;
}
/*
.carousel-content {
	background-color: rgba(0, 0, 0, 0.6);
	padding: 20px;
}
*/
#carousel-slider .carousel-control.left i {
  left:-25px
}

#carousel-slider .carousel-control.right i {
  right: -25px;
}

#carousel-slider
.carousel-control.left, 
#carousel-slider
.carousel-control.right {
  background: none;
}

/***********************
****Service page css****
***********************/

.services {
  padding: 0;
}

/*************************
********* Contact Us CSS ******
**************************/

.bg-blue {
	background-color: #f4f4f4;
}

.gmap-area {
  background-image: url("../images/map.html");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0;
  margin: -20px 0;
}

#contact-page{
  padding-top: 0;
}

#contact-page .contact-form 
.form-group label {
  color: #4E4E4E;
  font-size: 16px;
  font-weight: 300;
}


textarea#message{
  resize: none;
  padding: 10px;
}

#contact-page .contact-wrap {
  margin-top: 20px;
}


/***********************
********* Footer ******
************************/
#footer {
	padding: 20px 0;
	color: #fff;
	background: #30373F;
    border-top: 5px solid #111320;
}

#footer a {
  color: #fff;
}

#footer a:hover {
  color: #111320;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

#subsubfooter {
	padding: 20px 0;
	background: #111320;
}


fieldset {
    border: 5px solid #000; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background-color: #000;
}
.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

#reg-test{
	background-color: rgba(44, 55, 63, 1.0);
	color: #fff;
	padding: 20px;
}

#reg-test h2 {
	color: #fff;
}

.peer {
	background: url(../images/peer.html) no-repeat center center;
	width: 100%;
	min-height: 100%;
	height: 290px;	
}

#peer {
	background: url(../images/peer2p.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*panel color*/
.bg-green {
  background-color: #111320;
  border-color: #111320;
  color: #fff;
}
.border-green {
  border: #111320 solid 1px;
}
.text-green,
.text-green:hover,
.text-green:focus {
  color: #111320;
}

.panel-pricing {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.panel-pricing:hover {
  box-shadow: 0px 0px 30px rgba(73, 133, 50, 0.9);
}
.panel-pricing .panel-heading {
  padding: 10px 10px;
}
.panel-pricing .panel-heading p{
	font-size: 18px;
	padding-top: 2px;
	padding-bottom: 0.5px;
}
.panel-pricing .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-pricing .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-pricing .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-pricing .panel-body {
  background-color: #f0f0f0;
  font-size: 18px;
  color: #777777;
  padding-top: 8px;
  padding-bottom: 2px;
}



/*header register*/
.main{
 	margin:50px 15px;
}

h1.title { 
	font-size: 50px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
}

hr{
	width: 10%;
	color: #fff;
}

.form-group{
	margin-bottom: 15px;
}

label{
	margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.form-control {
    height: auto!important;
	padding: 8px 12px !important;
}
.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.btn-success {
	padding: 8px 20px;
	background: #111320;
	color: #fff;
	border-radius: 4px;
	border:none;
	margin-top: 5px;
	font-size: 12px;
}

.btn-success:hover, 
.btn-success:focus{
  background: #335C24;
  outline: none;
  box-shadow: none;
  color: #fff;
}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 10px 40px;
	background:#EFF3FE;
	color: #111320;
    text-shadow: none;
	-webkit-box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);
	box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);

}
.reg-center{
 	margin-top: 50px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 10px 20px;
	background:#EFF3FE;
	color: #111320;
    text-shadow: none;
	-webkit-box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);
	box-shadow: 0px 13px 15px 10px rgba(0,0,0,0.31);

}
span.input-group-addon i {
    color: #111320;
    font-size: 17px;
}

/* ==User Accounts [.account-wrapper]*/
/* ----------------------------------------------- */
.account-bg {
  background: #e6e6e6;
}
.account-header-divider {
  margin-top: 0;
  border-top: 10px solid #fff;
  border-bottom: none;
}
.account-wrapper {
  position: relative;
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
.account-wrapper .row > div {
  margin-bottom: 1em;
}
.account-form {
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: left;
}
.account-form .placeholder-hidden {
  display: none;
}
.account-form .form-control {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 1.25em;
}
.account-body {
  position: relative;
  padding: 35px 30px 10px;
  margin-bottom: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.125);
}
.account-body-title {
  margin-bottom: 10px;
  line-height: 1.5em;
}
.account-body-subtitle {
  color: #777;
  line-height: 1.5em;
}
.account-footer {
  padding: 0 25px;
  margin-top: 1.5em;
}
.account-or-social {
  display: block;
  margin-top: 1em;
}
@media (min-width: 768px) {
  .account-wrapper {
    width: 450px;
    padding: 30px 0;
  }
  .account-wrapper .row > div {
    margin-bottom: 0;
  }
  .account-body .account-form {
    padding: 0 25px;
    text-align: left;
  }
  .account-or-social {
    margin-top: 2em;
  }
}
