/* lg */ 
@media (min-width: 1200px) {
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-nav > li {
    margin-left: 10px;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  ul.social_icons li{
    margin-right: 0;
  }

}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-nav > li {
    margin-left: 0;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }
  
  #main-slider .carousel .slider-img {
	  margin-top: 15%;
	}
	
	#main-slider .carousel .item {
		height: 480px;
	}

  #main-slider .carousel h2 {
    font-size: 20px;
  }
}

/* xs */
@media (max-width: 767px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }
  
	#main-slider .carousel .item {
	  background-position: 50%;
	  background-repeat: no-repeat;
	  background-size: cover;
	  left: 0 !important;
	  opacity: 1;
	  width: 100%;
	  height: 440px;
	  -webkit-transition: opacity ease-in-out 10000ms;
	  -moz-transition: opacity ease-in-out 10000ms;
	  -o-transition: opacity ease-in-out 10000ms;
	  transition: opacity ease-in-out 10000ms;
	}
  
  .navbar-inverse .navbar-brand {
	  margin-top: -8px;
  }

  .top-number{
    font-size: 14px;
  }

  input.search-form:hover {
    width: 120px;
  }

  .navbar-nav > li {
    padding-bottom: 5px;
  }

  #main-slider .carousel h1 {
    font-size: 25px;
  }

  #main-slider .carousel h2 {
    font-size: 16px;
  }

  
  .accordion-inner h4 {
    margin-top: 10px;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  }

  ul.social_icons li{
    margin-right: 0;
  }
}

/* XS Portrait */
@media (max-width: 480px) {


}

